.main{
  display: flex;
  justify-content: center;
}
.box{
  border: 5px solid black;
  width: 500px; height: 500px;
  margin: 50px; padding: 20px;
}
.item-img{
  width: 350px;height: 350px;
  justify-content: center;
  display: block;
} 
button{
  font-size: 30px; text-align: center;
  width: 100px; height: 100px;
  padding: 10px; margin: 10px;
}